<CENTER>
	<H2>Color Utility</H2>
	<IMG src="ColorUtility.gif" alt="Color Utility">
</CENTER>
<P>
	This is a small program that I should have made long ago.  It can
	convert most types of color values to other common types.  Hex to RGB,
	Web Names to Long values.  It will even let you know if you are viewing
	a web-palette safe color.
</P>
<IMG align="right" src="ColorPicker.gif" alt="Color Picker">
<P>
	As an additional feature, I added the ability to load an image and
	grab the color from it as well.
</P>
<H3>Download</H3>
<P>
	This zip file comes with the executable and the source code.
	Hopefully it is all self explanitory.
	This is only the executable itself and does not include the run time dll's.
	You may need to download a visual basic 6.0 virtual machine.
</P>
<A href="ColorUtility.zip">ColorUtility.zip</A>