<CENTER>
	<H2>Binary Converter</H2>
	<IMG src="BinaryConvert.gif" alt="Binary Converter">
</CENTER>
<P>
	I always thought 0's and 1's were cool as a background to web pages
	or in the credits to the movie "Ghost in the Shell".  I found a way
	to actually make your binary numbers mean something instead of
	trying to make a lot of binary numbers on your own.
</P>
<P>
	This program looks as the Ascii value (0 - 255) of a character and
	determines an 8 digit binary number that the number equals to in
	binary language.  It also converts binary language back into strings
	so you can send binary messages to and from your friends if your really
	up for it.  Take note - A binary text message will be 8 times
	larger then a regular message.
</P>
<H3>Download</H3>
<P>
	This zip file comes with the executable and the source code.
	Hopefully it is all self explanitory.
	This is only the executable itself and does not include the run time dll's.
	You may need to download a visual basic 6.0 virtual machine.
</P>
<A href="BinaryConvert.zip">BinaryConvert.zip</A>