<P>
    The secret to the speed lies within ADO's Recordset and Stream objects. The holdback on the previous version was the conversions from ANSI to Unicode, and sometimes back again to ANSI.
    </P>
    <P>
    Supports multiple file uploads along with multiple field types. Let that user type in a description of the file when they upload it ... etc.
    </P>
    <P>
    Also supports the ability to retrieve multiple field values with the same name. Although some extra programming would need to be done on your part.
    </P>
    <P>
    Completely commented walking you through every step along with explinations.
    </P>