		<p>
    			This little ASP project was a little experimentation with the
    			File System Object that comes with the VBScript Run-Tim Library.
    			It allows a user to view the file system on any hard drive of the
    			web site. This may in fact, cause a very large security issue.
    			I could have done more as to make a real "File Explorer" environment
    			letting one to Cut, Copy, Paste, and move files around. Move them
    			to a download directory and view them, change the contents of the
    			file, rename files, and more. I stopped at the point so that you
    			can only view the contents.
    		</p>
    		<p>
    			This small application was designed with Microsoft Internet Explorer 5.0
    			with Netscape in mind. I do not know if netscape will display the
    			forms correctly. Also, it works well on Windows 98 Personal Web Server.
    			If you wish to learn a little about the FileSystemObject, then you may
    			want to view the source of this file with Note Pad, HomeSite, or
    			Visual InterDev.
    		</p>
    		<p>
    			The next project may be like this one, except I will limit it to
    			only view the contents of a web directory itself. Mainly - so that
    			a spider for a search engine will always have access to every single
    			file, weather or not I link it from another file.
    		</p>
    		<p>
    			The icons were an interesting part of this project. If an image
    			can not be found in the images directory to display the extention
    			type, a default "unknown" icon will be displayed so that all files
    			will have non-broken links to images.
    		</p>
    		<h3>Download</h3>
    		<p>
    			This zip file comes with the executable and the source code.
    			Hopefully it is all self explanitory to navigate along with this web page.
    			This is only the asp page itself and does not include the web server.
    			You may need to install an ASP capable server and place these files in a
    			scrptable directory. "C:\InetPub\RemoteExplorer\".
    		</p>
