<LINK rel="stylesheet" type="text/css" href="frmFallout.css">
<SCRIPT language="vbScript" src="modScriptlet.vbs"></SCRIPT>
<SCRIPT language="vbScript" src="frmFallout.vbs"></SCRIPT>
<SPAN id="Cursor"></SPAN>
